.coordinates-nav {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 84px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: 305px;
  }
}

.coordinates-nav__item + .coordinates-nav__item {
  @media screen and (min-width: 1200px) {
    margin-left: 30px;
  }
}

.coordinates-nav__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
    &:last-child {
      margin-bottom: 64px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.coordinates-nav__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16666;
  letter-spacing: 0.02em;
  color: $text-color-primary;

  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: 1.1666;
  }

  &:hover,
  &:focus {
    color: $accent-color;
    fill: currentColor;
  }
}

.email {
  @media screen and (max-width: 767px) {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.1764;
    letter-spacing: 0.02em;
    color: $accent-color;
  }
}

.coordinates-nav__icon {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    fill: currentColor;
    margin-right: 8px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 10px;
  }
}
