.footer {
  color: $text-color-white;
  background-color: $bg-dark;
  font-size: 14px;
  line-height: 1.7;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-address {
  font-style: normal;
  margin-top: 20px;
}

.footer-address .italic {
  font-style: italic;
}

.footer-address_item:not(:first-child) {
  margin-top: 8px;
}

.footer .link {
  color: rgba(255, 255, 255, 0.6);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
