.modal-form {
  margin-left: auto;
  margin-right: auto;
}

.modal-form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  &:focus-within .modal-form__textarea {
    outline: none;
    border-color: $accent-color;
  }
}

.modal-form__input {
  width: 100%;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 42px;

  font-size: 14px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-form__label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
  color: $text-color-primary;
}

.modal-form__wrap {
  position: relative;

  &:focus-within .modal-form__icon,
  &:focus-within .modal-form__input {
    fill: $accent-color;
    outline: none;
    border-color: $accent-color;
  }
}

.modal-form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);

  fill: $text-color-black;
}

.modal-form__textarea {
  resize: none;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 14px;

  &::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.1666;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.modal-form__accept {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.modal-form__policy {
  margin-left: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.666;
  letter-spacing: 0.03em;
  color: $text-color-primary;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-form__link-accept {
  color: $accent-color;
}

.modal-form__checkbox {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;

  &:checked + .modal-form__checkbox-icon {
    background-color: $accent-color;
    background-origin: border-box;
    border-color: transparent;
  }
}

.modal-form__checkbox-icon {
  display: flex;
  align-items: center;
  width: 16px;
  height: 15px;

  border: 2px solid $text-color-title;
  border-radius: 2px;
}
