.card-set__title {
  color: $text-color-title;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card-set__caption {
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  padding: 20px 24px;
}

.card-set {
  // display: flex;
  // flex-wrap: wrap;
  // margin-left: -30px;
  // margin-top: -30px;
}

.card-set__item {
  // flex-basis: calc((100% - 90px) / 3);
  // margin-left: 30px;
  &:not(:first-child) {
    margin-top: 30px;
  }

  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.card-set__thumb {
  position: relative;
  overflow: hidden;
}

.card-set__description {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;

  background-color: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5556;
  color: $text-color-white;

  transition: $time $timing-function;
}

.card-set__link {
  display: block;
  text-decoration: none;
  color: inherit;
  width: 100%;

  &:hover .card-set__description,
  &:focus .card-set__description {
    transform: translateY(-100%);
  }
}
