.section-our-team {
  background-color: $bg-second;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.section-our-team__name {
  color: $text-color-title;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.section-our-team__list {
  // display: flex;
  // flex-wrap: wrap;
  // margin-left: -30px;
  // margin-top: -30px;
}

.section-our-team__item {
  // flex-basis: calc((100% - 120px) / 4);
  // margin-left: 30px;
  margin-top: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 24px;
  // padding-bottom: 30px;
  background-color: $bg-white;
}

.section-our-team p {
  margin-bottom: 16px;
}

.section-our-team__socnetworks {
  display: flex;
  justify-content: center;
}

.socnetworks__link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: $text-color-svg;
  transition: background-color $time $timing-function,
    fill $time $timing-function;

  &:hover,
  &:focus {
    background-color: $accent-color;
    fill: $text-color-white;
  }
}

.socnetworks__icon:not(:last-child) {
  margin-right: 10px;
}
