.section-clients {
  // padding-bottom: 88px;
}

.section-clients__list {
  display: flex;
  flex-wrap: wrap;
  // margin-top: -30px;
  // margin-left: -30px;
  margin-top: -30px;
  margin-left: -15px;
}

.section-clients__item {
  // display: flex;
  // flex-basis: calc((100% - 180px) / 6);
  // margin-top: 30px;
  // margin-left: 30px;
  width: calc((100% - 2 * 30px) / 2);
  margin-top: 30px;
  margin-left: 15px;
  margin-bottom: 0px;
  margin-right: 15px;

  // @media screen and (min-width: 768px) {

  // }
}

.section-clients__link {
  display: flex;
  width: 100%;
  height: 90px;
  justify-content: center;
  align-items: center;
  border: 1px solid $text-color-svg;
  border-radius: 4px;
  fill: $text-color-svg;
  transition: fill $time $timing-function, filter $time $timing-function;

  &:hover,
  &:focus {
    border-color: $accent-color;
    fill: $accent-color;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  }
}
