.section-advantage {
  font-size: 14px;
  line-height: 1.7;
}

.section-advantage__title {
  color: $text-color-title;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.section-advantage__list {
  margin-top: -30px;
  margin-left: -30px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.section-advantage__item {
  margin-top: 30px;
  margin-left: 30px;

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 2 * 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 120px) / 4);
  }

  &::before {
    display: block;
    content: '';
    height: 120px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $bg-second;
    background-size: 70px 70px;
  }
}

@each $picture in antenna, clock, diagram, astronaut {
  .icon-#{$picture} {
    &::before {
      background-image: url('../images/#{$picture}.svg');
    }
  }
}
