$text-color-primary: #757575;
$text-color-title: #212121;
$text-color-white: #ffffff;
$text-color-svg: #afb1b8;
$text-color-black: #000000;
$accent-color: #2196f3;
$bg-second: #f5f4fa;
$bg-dark: #2f303a;
$bg-white: #ffffff;
$border-color: #eeeeee;
$time: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$font-logo: Raleway, sans-serif;
$font-body: Roboto, sans-serif;
